@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Yellowtail&display=swap");
@import "reset.css";
@import "variables.css";

/* Componentss */
@import "components/relative.css";
@import "components/badge.css";
@import "components/dot-noti.css";
@import "components/message-noti.css";
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";

body {
  font-family: "Open Sans", sans-serif;
}
.bodyheight {
  height: 200vh;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
.main-screen-settings {
  padding-top: 90px;
}
