.setting-screen__item span {
  font-size: 25px;
  margin-left: 15px;
}
.setting-screen__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.settings-screen-items-flex {
  display: flex;
  justify-content: space-between;
}
.settings-screen__items-flex-column-sub {
  color: var(--opacity-color);
}

.settings-screen__items-flex-column {
  display: flex;
  align-items: center;
}
.settings-screen__items-flex-column div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  margin-left: 5px;
}
@keyframes screen-enter {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  50% {
    opacity: 0.35;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.settings-body {
  height: 150vh;
  animation: screen-enter 2s ease-in-out;
}
