.settings-screen__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 30px;
  background-color: tomato;
  position: fixed;
  top: 5%;
  box-sizing: border-box;
}
