.settings-screen__header {
  top: 6%;
  padding-bottom: 0px;
}
.settings-screen__header__title {
  font-size: 25px;
  font-weight: bold;
}
.setting-screen_item span {
  font-size: 25px;
  margin-left: 10px;
}
