.nav {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}
.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__noti {
  position: absolute;
}
.nav__chat-noti__position {
  right: -9px;
  top: -15px;
}
.nav__ellipsis-noti__position {
  top: 15px;
  right: 42.5px;
}

.nav__link {
  position: relative;
}
