.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.user-component {
  justify-content: space-between;
}
.user-component__avatar--xl {
  width: 50px;
  height: 50px;
}
.user-component__avatar {
  width: 40px;
  height: 40px;
  border-radius: 40%;
}
.user-component__avatar--sm {
  width: 30px;
  height: 30px;
}

.user-component__subtitle {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 5px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component-chats__subtitle {
  width: 200px;
  margin-top: 8px;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__title {
  font-size: 10px;
  margin-left: 10px;
  font-weight: bold;
}

.user-component__title--not-bold {
  font-weight: 400;
}
.user-component-chats,
.user-component-chats__column {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}
.user-component-chats__subtitle {
  font-size: 8px;
}
.user-component-chats {
  justify-content: space-between;
}
.user-component-chats__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.user-component-chats__column-noti {
  display: flex;
  flex-direction: column;
  font-size: 5px;
}
